@import "tailwindcss";
@plugin "daisyui";

@keyframes spinOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(96deg);
  }
}

.spin-once {
  animation: spinOnce 1.3s ease-out forwards;
}

.scrollbar-none {
  scrollbar-width: none;
}
